// body {
//     margin-bottom:50px;
// }

p{
    font-size:21px;
    text-align: 
    justify;text-justify: 
    inter-word;
}

.cont{
    margin: 1%;
    min-height: calc(100vh - 130px);
    max-width: 1500px;
    width:1500px;
}